.benefits {
  display: flex;
  margin-bottom: 30px;
  align-items: center;

  & .benefits__block:not(:last-child) {
    margin-right: 30px;
  }
  &__description {
    display: flex;

    & .benefits__list:not(:last-child) {
      margin-right: 30px;
    }
  }
  &__card {
    display: inline-flex;
    width: 270px;
    height: 120px;
    background-color: $filter-background-color;
    justify-content: center;
    align-items: center;
  }
  &__title {
    color: $title-text-color;
    line-height: 1.14;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
  }
  &__text {
    line-height: 1.7;
    margin-top: 0;
    margin-bottom: 0;
  }
  &__list {
    width: 270px;
  }
}
