.footer {
  background-color: $head-foter-color;
  padding-top: 60px;
  padding-bottom: 60px;
  & .footer-logo {
    display: inline-block;
    color: $second-color;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    margin-bottom: 28px;
  }
  &.link:hover,
  &.link:focus {
    color: $accent-color;
  }
  & .container {
    display: flex;
    align-items: baseline;
  }
}
